* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Poppins';
    max-width: 1440px;
}

/* @media (min-width: 320px) {
    .container {
      max-width: 100%;
    }
  } */

.row {
    width: 100%;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

h1 {
    font-size: 64px;
    color: #212B36;
}

h2 {
    font-size: 36px;
    color: #015291;
}

h3 {
    font-size: 48px;
    color: #212B36;
}

h5 {
    font-size: 18px;
    color: #FFFFFF;
}

h6 {
    text-transform: uppercase;
    color: #015291;
    font-size: 12px;
}

@media only screen and (max-device-width: 560px) {
    h1 {
        font-size: 40px;
        color: #212B36;
    }
}

.mv-10 {
    margin: 0 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.spc-50 {
    height: 50px;
}

a.btn {
    text-decoration: none;
}

.btn-primary {
    background-color: #015291;
    color: #FFFFFF;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btn-primary-outline {
    border: 2px solid #015291;
    background-color: transparent;
    cursor: pointer;
    color: #015291;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btn-fill-white {
    border: 2px solid #015291;
    background-color: white;
    cursor: pointer;
    color: #015291;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.btn-play {
    border: 2px solid #015291;
    background-color: transparent;
    cursor: pointer;
    color: #015291;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 15px;
    width: 20px;
}

.btn-play-fill {
    border: 2px solid #015291;
    background-color: white;
    cursor: pointer;
    color: #015291;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 15px;
    width: 20px;
}

.med-text-desc p {
    font-size: 16px;
    color: #637381;
}

.sml-text-desc p {
    font-size: 14px;
    color: #637381;
}

.bold-med-text p {
    color: #212B36;
    font-size: 20px;
}

header {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 10;
}

header nav .logo-ssb img {
    width: 50%;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

@media only screen and (max-device-width: 1440px) {
    header nav.mobile-nav {
        display: none;
    }

    
    .container .section-2 .about .about-desc .mobile-box {
        display: none !important;
    }

    .btn-mobile {
        visibility: hidden;
    }

    .btn-dekstop {
        visibility: visible;
    }
}

@media only screen and (max-device-width: 560px) {
    /* styles for mobile browsers smaller than 560px; (iPhone) */

    header nav.dekstop-nav {
        display: none !important;
    }

    header nav.mobile-nav {
        display: flex !important;
        justify-content: space-between;
    }

    header nav.mobile-nav item {
        flex-grow: 1;
    }

    header nav.mobile-nav .logo-ssb img {
        width: 100%;
    }

    header nav.mobile-nav .items {
        display: flex;
        align-items: center;
    }

    header nav.mobile-nav .items img{
        width:36px;
        display: block;
    }

    header nav.mobile-nav .items i{
        font-size:25px;
        padding-left: 10px;
    }

    .btn-dekstop {
        visibility: hidden;
    }

    .btn-mobile {
        visibility: visible;
    }

    header .mobile-nav .items {
        width: 20%;
        justify-content: flex-end;
    }

    header .mobile-nav .items .toggle,
    header .mobile-nav .items .search-box {
        width: 50%;
    }

    header .logo-ssb,
    header .items {
        margin: unset;
    }

}

nav .logo-ssb {
    width: 20%;
}

nav .nav-items {
    width: 60%;
    display: flex;
    align-items: center;
}

nav .nav-items .dropdown a {
    text-decoration: none;
    columns: 212B36;
}

.nav-menu {
    color: #212B36;
    padding: 16px;
    font-size: 14px;
}

.nav-menu.active {
    color: #015291;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #015291;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #CA9B4E;
}

.dropdown.about:hover .dropdown-content.menu-about {
    display: block;
}

.dropdown.product:hover .dropdown-content.menu-product {
    display: block;
}

.dropdown.service:hover .dropdown-content.menu-service {
    display: block;
}

.dropdown.brosur:hover .dropdown-content.menu-brosur {
    display: block;
}

.dropdown.client:hover .dropdown-content.menu-client {
    display: block;
}

nav .search-box {
    width: 20%;
    display: flex;
    align-items: center;
}

nav .search-box .search {
    width: 70%;
}

nav .search-box .search input.field-header {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #CA9B4E;
    border-radius: 8px;
}

nav .search input[type=text] {
    padding-left: 40px;
}

nav .search-box .search i {
    position: absolute;
    color: #919EAB;
}

nav .search-box .search {
    width: 100%;
    margin-bottom: 10px;
}

nav .search-box .search .icon {
    padding: 10px;
    min-width: 40px;
}

nav .search-box .search span {
    position: absolute;
    color: #919EAB;
}

nav .search-box .lang {
    width: 30%;
    margin-left: 5%;
}

nav .search-box .lang img {
    width: 70%;
    /* height: 36px; */
}

.container {
    position: relative;
}


.container .form-input input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.32);
}

.container .form-input button {
    background-color: #015291;
    /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 11px 22px;
}

.container .section-1 {
    background-image: url('../images/banner-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container .section-1 .slide-carousel {
    margin-top: 60px;
    margin-bottom: 70px;
    display: flex;
    align-items: stretch;
    width: 80%;
}

.container .section-1 .slide-carousel .image {
    display: flex;
}

@media only screen and (max-device-width: 560px) {
    .container .section-1 {
        padding: 40px 0 120px 0
    }

    .container .section-1 .slide-carousel .image {
        display: none !important;
    }

    .container .section-1 .slide-carousel .description {
        width: 100% !important;
    }

    .container .section-1 .slide-carousel .description p{
        font-size: 16px;
        color: #637381;
    }

    .container .section-1 .slide-carousel .description h1, 
    .container .section-1 .slide-carousel .description h6, 
    .container .section-1 .slide-carousel .description p{
        text-align: center;
        margin-bottom: 30px;
    }

    .container .section-1 .work-button p {
        margin-bottom: 0 !important;
    }

}

.container .section-1 .slide-carousel .image img {
    border-radius: 16px;
    width: 80%;
}

.container .section-1 .slide-carousel .work-button {
    display: flex;
    align-items: center;
}

.container .section-1 .slide-carousel .work-button p {
    color: #212B36;
    font-size: 18px;
}

.banner-footer a {
    text-decoration: none;
}

.banner-footer .view-more {
    display: flex;
    align-items: center;
}

.container .section-2 {
    margin: 60px 0;
}

@media only screen and (max-device-width: 560px) {
    /* .container .section-2 {
        width: 100% !important;
    } */
    .container .section-2 .about-image {
        display: none !important;
    }

    .container .section-2 .sub-title{
        margin-bottom: 0 !important;
    }
    .container .section-2 .sub-title h6 {
        text-align: start;
        margin-bottom: 20px;
    }

    .container .section-2 .about-desc {
        width: 100% !important;
        padding: 0 !important;
    }

    .container .section-2 .about-desc h2 {
        font-size: 24px;
        color: #212B36;
        text-align: start;
    }

    .container .section-2 .about-desc p {
        text-align: start;
        margin: 0 !important;
        color: #212B36;
    }

    .container .section-2 .about .about-desc .row.dekstop-box {
        display: none !important;
    }

    .container .section-2 .mobile-separator {
        margin-bottom: 10px !important;
    }

}

.container .section-2 .sub-title {
    margin-bottom: 70px;
    width: 80%;
}

.container .section-2 .about {
    margin-bottom: 70px;
    width: 80%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.container .section-2 .about .about-image img {
    width: 100%;
}

.container .section-2 .about .about-desc {
    padding-left: 10%;
    align-content: center;
    align-items: center;
}


.container .section-2 .about-desc p {
    color: #212B36;
}

@media only screen and (max-device-width: 560px) {
    .container .section-3 .card-title .item { 
        width: 100%;
    }

    .container .section-3 .card-title h2 {
        font-size: 20px;
        color: #212B36;
        text-align: start;
    }

    .container .section-3 .projects {
        display: block !important;
        padding-top: unset !important;
    }

    .container .section-3 .projects .card-project{
        width: 100% !important;
        margin: 20px 0 !important;
    }

    .container .section-3 .fill-button {
        margin-top: 40px !important;
    }
}

.container .section-3 {
    background-image: url('../images/project.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container .section-3 .card-title {
    width: 80%;
    display: flex;
    align-items: center;

}

.container .section-3 .card-title .item {
    flex-grow: 1;
}

.container .section-3 .card-title a {
    text-align: end;
}

.container .section-3 .projects {
    width: 70%;
    display: flex;
    padding-top: 50px;
}

.container .section-3 .card-project {
    background-color: white;
    border-radius: 20px;
    margin: 0 16px;
}

.container .section-3 .card-project img {
    width: 100%;
}

.container .section-3 .card-project p {
    color: #212B36;
    font-size: 20px;
}

.container .section-3 .card-desc {
    padding: 15px;
}

@media only screen and (max-device-width: 560px) {
    .container .section-4 .service-desc {
        display: block !important;
        margin-bottom: 10px !important;
    }

    .container .section-4 .service-desc h3 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 30px;
    }

    .container .section-4 .service-desc p {
        text-align: center;
    }

    .container .section-4 .service-desc .mob-desc {
        width: 100%;
    }

    .container .section-4 .services {
        display: block !important;
    }

    .container .section-4 .services .service-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .container .section-4 .services .service-box img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .container .section-4 .services .service-box p{
        text-align: center;
    }
}

.container .section-4 {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 80%;
}

.container .section-4 .service-desc {
    display: flex;
    align-items: center;
}

.container .section-4 .services {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.container .section-4 .services .service-box img {
    width: 48px;
    height: 48px;
}

.container .section-4 .service-box p {
    font-size: 16px;
    color: #212B36;
    padding: 10px;
}

@media only screen and (max-device-width: 1440px) {
    .container .section-5 .news-content .news .mobile-news {
        display: none !important;
    }

    .container .section-5 .news-content .news .dekstop-news {
        visibility: visible;
    }
}

@media only screen and (max-device-width: 560px) {
    .container .section-5 .news-content .news .dekstop-news {
        display: none !important;
    }

    .container .section-5 .news-content .news .mobile-news {
        display: block !important;
        width: 100%;
    }

    .container .section-5 .news-content .news .support-news {
        padding-left: 0 !important;
    }

    .container .section-5 .news-content .news .mobile-news .news-1{
        display: flex !important;
    }

    .container .section-5 .news-content .news .mobile-news .news-1 img{
        width: 100%;
    }

    .container .section-5 .news-content .news .mobile-news .news-1 p.time{
        font-size: 12px;
        color: #637381;
        margin-top: 5px;
    }

    .container .section-5 .news-content h6 {
        text-align: center;
        margin-bottom: 20px !important;
    }

    .container .section-5 .news-content .news-header {
        display: block !important;
        width: 100%;
    }

    .container .section-5 .news-content .news-header-mob {
        width: 100%;
    }

    .container .section-5 .news-content .news-header h2 {
        font-size: 32px;
        text-align: center;
    }

    .container .section-5 .news-content .news-header p {
        text-align: center;
    }
}

.container .section-5 {
    background-image: url('../images/project.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 100px;
}

.container .section-5 .news-content {
    width: 80%;
}

.container .section-5 .news-content .news-header {
    display: flex;
    align-items: center;
}

.container .section-5 .news-content .news-header .item {
    flex-grow: 1;
    text-align: end;
}

.container .section-5 .news-header h2 {
    color: #212B36;
    font-size: 48px;
}

.container .section-5 .news-header p {
    color: #212B36;
    font-size: 16px;
}

.container .section-5 .news-header a {
    text-align: right;
}

.container .section-5 .news-content .news {
    display: flex;
    margin-top: 40px;
}

.container .section-5 .news-content .news .primary-news {
    margin: 0 10px;
}

.container .section-5 .news-content .news .primary-news img {
    width: 100%;
}

.container .section-5 .news-content .news .primary-news .time {
    margin-top: -300px;
    padding: 0 20px;
}

.container .section-5 .news-content .news .primary-news .news-title {
    padding: 0 20px;
}

.container .section-5 .news-content .news .primary-news .news-detail {
    padding: 0 20px;
}

.container .section-5 .news-content .news .primary-news .time p {
    color: white;
    font-size: 12px;
}

.container .section-5 .news-content .news .primary-news .news-title p {
    color: white;
    font-size: 36px;
}

.container .section-5 .news-content .news .primary-news .news-detail p {
    color: white;
    font-size: 16px;
}

.container .section-5 .news-content .news .support-news {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.container .section-5 .news-content .news .support-news .news-1 {
    margin-bottom: 15px;
    margin-right: 20px;
}

.container .section-5 .news-content .news .support-news .news-1 img {
    width: 100%;
}

.container .section-5 .news-content .news .support-news .news-1 .time p {
    color: #212B36;
    font-size: 12px;
}

.container .section-5 .news-content .news .support-news .news-1 .news-title p {
    color: #212B36;
    font-size: 18px;
}

@media only screen and (max-device-width: 560px) {

    .container .section-7 .message-content .message-dekstop {
        display: none !important;
    }

    .container .section-7 .message-content .messages {
        width: 100%;
        margin-left: 0 !important;
    }

    .container .section-7 .message-content .messages h2 {
        font-size: 24px !important;
        color: #212B36;
        text-align: center;
    }

    .container .section-7 .message-content .messages p {
        text-align: center;
    }

    .container .section-7 .messages .btn-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container .section-6 {
    width: 80%;
    padding: 60px 0;
}

.container .section-6 .card-title {
    text-align: center;
}

.container .section-6 .card-title h2 {
    text-align: center;
    font-size: 48px;
    color: #212B36;
}

.container .section-6 .clients .row {
    overflow-x: scroll;
}

.container .section-6 .clients .client-detail {
    /* border: 1px solid #EFD497; */
    border-radius: 16px;
    margin-right: 20px;
    margin-top: 30px;
}

.container .section-6 .clients .client-detail img {
    width: 172px;
    height: 80px;
}

.container .section-7 {
    background-image: url('../images/message.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 60px 0;
    display: flex;
}

.container .section-7 .message-content {
    width: 80%;
    display: flex;
}

.container .section-7 .message-content .message-image img {
    width: 100%;
}

.container .section-7 .message-content .messages {
    margin-left: 20%;
}

.container .section-7 .message-content .messages h2 {
    color: #212B36;
    font-size: 36px;
}

@media only screen and (max-device-width: 1440px) {
    .container .section-8 .mobile-map {
        display: none !important;
    }
}

@media only screen and (max-device-width: 560px) { 
    .container .section-8 .row {
        display: block !important;
    }

    .container .section-8 .row .contact-desc,
    .container .section-8 .row .contact-map {
        width: 100%;
        margin-left: 0 !important;
    }

    .container .section-8 .contact-desc h3 {
        font-size: 32px;
    }

    .container .section-8 .dekstop-map {
        display: none !important;
    }

    .container .section-8 .mobile-map {
        display: block !important;
    }

}

.container .section-8 {
    width: 80%;
    padding: 60px 0;
}

.container .section-8 .social h5 {
    font-size: 18px;
    color: #212B36;
}

.container .section-8 .social .medias img {
    width: 36px;
    height: 36px;
}

.container .section-8 .contact-desc .contact-detail {
    margin: 60px 0;
}

.container .section-8 .contact-desc .contact-detail .contact {
    margin-bottom: 20px;
}

.container .section-8 .contact-desc .contact-detail .contact .contact-head {
    display: flex;
    align-items: center;
}

.container .section-8 .contact-desc .contact-detail .contact .contact-head .item {
    flex-grow: 1;
    margin-left: 10px;
}

.container .section-8 .contact-desc .contact-detail .contact .contact-head img {
    width: 24px;
    height: 24px;
}

.container .section-8 .contact-desc .contact-detail .contact .contact-head span {
    font-size: 14px;
    color: #212B36;
}

.container .section-8 .contact-map {
    margin-left: 20%;
}

@media only screen and (max-device-width: 1440px) { 
    .mob-icon {
        visibility: hidden;
    }
}

@media only screen and (max-device-width: 560px) { 
    footer .content .row,
    footer .content .footer-menu {
        display: block !important;
    }

    footer .content .footer-desc,
    footer .content .footer-menu,
    footer .content .footer-menu .mob-menu {
        width: 100%;
        margin-left: 0;
    }

    footer .content .footer-menu .menu {
        margin-bottom: 10px;
    }

    .mob-icon {
        margin-left: 10px;
        visibility: visible;
        font-size: 0.73em;
    }

    footer .content .mob-menu .menu-dropdown-brosur,
    footer .content .mob-menu .menu-dropdown-produk,
    footer .content .mob-menu .menu-dropdown-jasa,
    footer .content .mob-menu .menu-dropdown-kontak,
    footer .content .mob-menu .menu-dropdown-klien {
        display: none;
    }

    footer .content .mob-menu .dropdown-active {
        display: block !important;
    }

    footer .legal .box {
        display: block !important;
    }

    footer .legal .box .item p {
        text-align: center;
        margin-bottom: 20px;
    }    
}

footer {
    background-color: #015291;
}

footer .content {
    width: 80%;
    padding: 60px 0;
}

footer .content .footer-desc p{
    font-size: 14px;
    color: #919EAB;

}

footer .content .social .medias {
    margin-top: 20px;
}

footer .content .social .medias img {
    width: 36px;
    height: 36px;
}

footer .footer-menu {
    display: flex;
    align-items: flex-start;
    margin-left: 20%;
}

footer .footer-menu .menu {
    margin-right: 30px;
    margin-bottom: 30px;
}

footer .footer-menu .menu a{
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    justify-content: left;
}

footer ul li {
    text-align: left;
    color: #919EAB;
    font-size: 13px;
}

footer .legal {
    width: 80%;
    padding-bottom: 20px;
}

footer .legal .box .item p {
    color: #919EAB;
    font-size: 13px;
}

footer .box {
    display: flex;
    justify-content: stretch;

}

footer .item {
    flex-grow: 1;
}

footer .legal .box ul {
    display: flex;
}

footer .legal .box ul li {
    margin-right: 30px;
}

hr {
    height: 1px;
    border: none;
    background: #919EAB;
}

/* Single Page  */
.container .section-2.about-us {
    background-image: url('../images/banner-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: unset;
}

.container .section-2.about-us .about {
    padding: 100px;
}

.container .about .about-us h2 {
    color: #212B36;
}

.container .about .about-us .btn-about {
    margin-top: 30px !important;
}

.container .section-vision {
    width: 80%;
    margin: 50px auto;
}

.container .section-vision .vision-bg{
    background-image: url('../images/vision-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 150px;
    border-radius: 16px;
}

.container .section-vision h5 {
    font-size: 24px;
}

.container .section-vision h3,
.container .section-vision h5 {
    color: white;
    text-align: center;
}

.container .section-vision .vision-bg .item {
    margin-bottom: 100px;
}

.container .section-vision .vision-bg img {
    width: 30px;
}

.container .section-mission {
    background-image: url('../images/banner-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container .section-mission .mission-bg {
    width: 80%;
    padding: 60px 0;
}

.container .section-mission .mission-bg .row {
    margin: 60px 0;
}

.container .section-mission .mission-bg .med-text-desc p {
    color: #212B36;
}

.container .section-mission .mission-bg .mission-img img {
    width: 100%;
}

.container .section-mission .mission-bg .mission-img p {
    color: #212B36;
}

.container .section-mission .mission-bg .mission-desc .mission {
    background-color: white;
    padding: 30px;
    border-radius: 16px;
}

.container .section-mission .mission-bg .mission-desc .mission h1 {
    font-size: 64px;
    color: #919EAB;
    opacity: 0.24;
}

.container .section-mission .mission-bg .mission-desc .mission h5 {
    color: #212B36;
}

.container .section-mission .mission-desc {
    display: flex;
    align-items: center;
}

@media only screen and (max-device-width: 1440px) {
    .container .section-mission .mission-bg .mobile-mission {
        display: none;
    }
}

@media only screen and (max-device-width: 560px) {
    .container .section-2.about-us {
        margin-top: unset;
    }

    .container .section-2.about-us .about {
        padding: 80px 0 !important;
    }

    .container .section-2.about-us .btn-white-mob {
        background-color: white;
        color: #015291;
    }

    .container .section-vision .vision-bg {
        padding: 20px 10px;
    }

    .container .section-vision .vision-bg h3 {
        font-size: 40px;
    }

    .container .section-vision .vision-bg h5 {
        font-size: 18px;
    }

    .container .section-mission .mission-bg .dekstop-mission {
        display: none !important;
    }

    .container .section-mission .mission-bg .mobile-mission {
        display: block !important;
    }

    .container .section-mission .mission-bg .mission-desc .mission p {
        margin-top: 10px !important;
        font-size: 14px;
    }

    .container .section-mission .mission-bg .mission-desc .mission h1 {
        margin-bottom: unset !important;
    }

}


