* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Poppins';
    max-width: 1440px;
}

.row {
    width: 100%;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

h1 {
    font-size: 64px;
    color: #212B36;
}

h2 {
    font-size: 36px;
    color: #015291;
}

h3 {
    font-size: 48px;
    color: #212B36;
}

h6 {
    text-transform: uppercase;
    color: #015291;
    font-size: 12px;
}

.mv-10 {
    margin: 0 10px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.spc-50 {
    height: 50px;
}

.btn-primary {
    background-color: #015291;
    color: #FFFFFF;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.med-text-desc p{
    font-size: 16px;
    color: #637381;
}

.sml-text-desc p{
    font-size: 14px;
    color: #637381;
}

.bold-med-text p{
    color: #212B36;
    font-size: 20px;
}

header {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 10;
}

nav {
    width: 90%;
    margin: auto;
    display: flex
}

nav .logo-ssb {
    width: 20%;
}

nav .nav-items {
    width: 60%;
}

nav .nav-items ul {
    display: flex;
    list-style-type: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

nav .nav-items ul li {
    text-align: center;
    margin: 0 20px;
    color: #637381;
}

nav .nav-items ul li.active {
    color: #015291;
}

nav .search-box {
    width: 20%;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

nav .search-box .search {
    width: 70%;
}

nav .search-box .search input.field-header {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #CA9B4E;
    border-radius: 8px;
}

nav .search-box .lang {
    width: 30%;
    background-color: antiquewhite;
}

.container {
    position: relative;
}

.container .section-1 {
    background-image: url('../images/banner-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container .section-1 .slide-carousel {
    margin-top: 60px;
    margin-bottom: 70px;
    display: flex;
    align-items: stretch;
    width: 80%;
}

.container .section-1 .slide-carousel .image {
    display: flex;
}

.container .section-1 .slide-carousel .image img{
    border-radius: 16px;
    width: 80%;
}

.banner-footer a {
    text-decoration: none;
}

.container .section-2 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.container .section-2 .sub-title {
    margin-bottom: 70px;
    width: 80%;
}
.container .section-2 .about {
    margin-bottom: 70px;
    width: 80%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.container .section-2 .about .about-image img{
    width: 100%;
}

.container .section-2 .about .about-desc{
    padding-left: 10%;
    align-content: center;
    align-items: center;
}

.container .section-3 {
    background-image: url('../images/project.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container .section-3 .card-title {
    display: flex;
    align-items: center;
}

.container .section-3 .projects {
    width: 70%;
    display: flex;
    padding-top: 50px;
}
.container .section-3 .card-project {
    background-color: white;
    border-radius: 20px;
    margin: 0 16px;
}

.container .section-3 .card-project img{
    width: 100%;
}

.container .section-3 .card-project p{
    color: #212B36;
    font-size: 20px;
}

.container .section-3 .card-desc {
    padding: 15px;
}

.container .section-4 {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 80%;
}

.container .section-4 .service-desc {
    display: flex;
    align-items: center;
}

.container .section-4 .services {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.container .section-4 .services .service-box img {
    width: 48px;
    height: 48px;
}

.container .section-4 .service-box p {
    font-size: 16px;
    color: #212B36;
    padding: 10px;
}

.container .section-5 {
    padding: 60px 0;
    background-image: url('../images/project.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container .section-5 .news-content {
    width: 80%;
}

.container .section-5 .news-content .news-header {
    display: flex;
    align-items: center;
}

.container .section-5 .news-header p {
    color: #212B36;
    font-size: 16px;
}

.container .section-5 .news-header a {
    text-align: right;
}

.container .section-5 .news-content .news {
    display: flex;
    align-items: center;
}

.container .section-5 .news-content .news .primary-news {
    margin: 0 10px;
}

.container .section-5 .news-content .news .primary-news img {
    width: 100%;
}

.container .section-5 .news-content .news .primary-news .time {
    margin-top: -270px;
    padding: 0 20px;
}

.container .section-5 .news-content .news .primary-news .news-title {
    padding: 0 20px;
}

.container .section-5 .news-content .news .primary-news .news-detail {
    padding: 0 20px;
}

.container .section-5 .news-content .news .primary-news .time p {
    color: white;
    font-size: 12px;
}

.container .section-5 .news-content .news .primary-news .news-title p {
    color: white;
    font-size: 36px;
}

.container .section-5 .news-content .news .primary-news .news-detail p {
    color: white;
    font-size: 1ss6px;
}
